#Sale {
    font-family: 'Bree Serif', serif;
    padding-right: 0px;
    margin-right: 0px;
    font-size:30px;
}

body{
    background-image:url("https://images.wallpaperscraft.com/image/tree_foliage_autumn_106665_3840x2400.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
    /* background-position:50% 50%; */
}

.navbar{
    margin-left: -15px;
    margin-right: -15px;
  }
